@use "../../styles/variables.scss" as *;

:root[saved-theme="light"] {
  --cardColor: hsl(255, 2%, 95%);
}
:root[saved-theme="dark"] {
  --cardColor: hsl(260, 25%, 16%);
}

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;

  & > .section {
    display: grid;
    grid-template-columns: 6em 3fr 1fr;

    @media all and (max-width: $mobileBreakpoint) {
      & > .tags {
        display: none;
      }
    }

    & > h3.desc > a {
      background-color: transparent;
    }

    & > .meta {
      margin: 0 0 0 0.2em;
      flex-basis: 6em;
      opacity: 0.6;
      font-size: 75%;
    }
  }
}

body[data-slug="blog/index"] {
  @media only screen and (min-width:500px) {
    ul.section-ul {column-count: 2;}
  }
  ul.section-ul {
    list-style: none;
    margin: 2em 0;
    padding-left: 0;
  }
  li.section-li {
    margin-bottom: 1em;
    break-inside: avoid;
    & > .section {
      display: block;
      background-color: var(--cardColor);
      border: 2px solid #d6d6d6;
      border-radius: 6px;
      padding: 10px 20px;
      margin: auto auto 40px auto;
      width: 75%;
      box-shadow: 7pt 7pt rgba(200, 200, 200, 0.6);
      & > .tags,
      & .meta {
        text-align: right;
        font-size: 75%;
      }
    }
  }
}

body[data-slug="tags/index"] {
  h2 {
    border-top: 1px solid var(--lightgray);
    padding-top: 1em;
  }
}
body[data-slug^="tags"] {
  li.section-li {
    & > .section {
      display: block;
      & > .tags { font-size: 80%; }
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: 6em 1fr !important;
  & > .tags {
    display: none;
  }
}
