@use "../../styles/variables.scss" as *;

@media only screen and (min-width:500px) {
  ul.section-ul {column-count: 2;}
}
ul.section-ul {
  list-style: none;
  margin: 2em 0;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 1em;
  break-inside: avoid;

  & > .section {
    background-color: hsl(260, 25%, 16%);
    border: 2px solid #d6d6d6;
    border-radius: 6px;
    padding: 10px 20px;
    margin: auto auto 40px auto;
    width: 75%;
    box-shadow: 7pt 7pt rgba(200, 200, 200, 0.6);

    @media all and (max-width: $mobileBreakpoint) {
      & > .tags {
        display: none;
      }
    }
    & > .tags,
    & .desc .meta {
      font-size: 75%;
    }

    & > .desc > h3 > a {
      background-color: transparent;
      & > .meta {
        margin: 0;
        flex-basis: 6em;
        opacity: 0.6;
        float: right;
      }
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: 6em 1fr !important;
  & > .tags {
    display: none;
  }
}

.tagDiv {
  border: 1px solid;
  border-radius: 6px;
  padding: 15px;
  margin: 25px auto;
}
.tagDiv h2 {
  margin-top: 5px;
}
.tagDiv ul.tags {
  display: none;
}
.tagDiv div.page-listing ul.section-ul li.section-li div.section p.meta {
  margin-right: 0.5em;
}
