/* ----- FONTS ----- */
@font-face {
  font-family: 'PorSiempreGotica';
  src: url('PorSiempreGotica.ttf') format('truetype');
}

@font-face {
  font-family: 'PirataOne';
  src: url('PirataOne-Regular.ttf') format('truetype');
}

/*@font-face {
  font-family: 'Fira Sans';
  src: url('Fira_Sans/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'InconsolataNF';
  src: url('InconsolataNF/InconsolataNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Barlow */
@font-face {
  font-family: 'Barlow';
  src: url('Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('Barlow/Barlow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* BarlowCondensed */
@font-face {
  font-family: 'BarlowCondensed';
  src: url('Barlow/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('Barlow/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* Barlow */
@font-face {
  font-family: 'Barlow';
  src: url('Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('Barlow/Barlow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* BarlowCondensed */
@font-face {
  font-family: 'BarlowCondensed';
  src: url('Barlow/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('Barlow/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMonoNF';
  src: url('JetBrainsMonoNF/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
