@use "./base.scss";
@use "./custom/callouts.scss";
@use "./custom/image_grid_float.scss";
@use "./custom/grid_callouts.scss";
@use "./custom/fileIcons.scss";
@use "./custom/rstyle.scss";
@use "./variables.scss" as *;
@import "./fonts.scss";

// Put your custom CSS here!

:root[saved-theme=dark] {
  color-scheme:dark;
  --heading-color: #7ee787;
}
:root[saved-theme=light] {
  color-scheme:light;
  --heading-color: rgb(62, 177, 72);
}


header {
  gap: 1vw;
}

ul.overflow,
ol.overflow {
  max-height: 80dvh;
}

.page .page-header {
  padding: 1px;
  width: auto;
}

@media all and (max-width: $fullPageWidth) {
  .page-title.mobile-only {
    max-width: fit-content;
    a {
      font-size: inherit; /*4dvw;*/
    }
  }
}

@media all and (max-width: $mobileBreakpoint) {
  .page .page-header {
    width: 96dvw;
  }
}

@media all and (min-width: $tabletBreakpoint) {
  .page-title.mobile-only a {
    font-size: 2.5vw;
    vertical-align: middle;
  }
}

.page .page-header {
  // position: sticky;
  top: 0;
  border-bottom: 1px solid var(--lightgray);
  background-color: var(--light);
  z-index: 100;
  margin-top: 0 !important;

  &.fixed {
    border-bottom: 0;
  }
}

hr {
  width: auto !important;

  .hr-title & {
    margin: 0;
    margin-top: -0.3em;
  }
}

.rside-10 img[alt*="+rside"] {
  width: 10em;
}

.wiki-right .callout.wiki h1,
.wiki-right .callout.wiki h3 {
  background-color: var(--lightgray);
}

.avatar img[alt="+rside"] {
  width: auto;
}

footer {
  & p {
    font-size: small;
    margin: 0;
  }
  & hr {
    border: 1px dashed;
    margin: 0;
    margin-top: 5px;
    background-color: transparent;
    height: 0;
  }
  & ul {
    font-size: small;
    margin: -0.5rem 0 0;
  }
}

.page-listing {
  hr {
    border: 1px double;
    margin: 0;
    background-color: transparent;
    height: 0;
  }
  p {
    font-size: smaller;
    text-align: right;
  }
  .no-folder-list & {
    display: none;
  }
}

.page-header .spacer.mobile-only {
  max-width: 100% /* 1vw */;
}

ul.overflow:after,
ol.overflow:after {
  background: none;
}

// h1, h2, h3, h4, h5, h6 {color: #7ee787;}
body[data-slug^="blog"] .article-title {
  font-family: 'PorSiempreGotica';
  font-size: 2.05rem;
}
.section h3.desc {
  font-family: 'PorSiempreGotica';
  font-size: 1.32rem;
}

div.explorer.desktop-only {
  grid-area: 1/1/1/1;
}

/* zoom image onclick */
img:active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: calc(100vh - 4rem);
    width: auto;
    max-width: 100vw;
    z-index: 10;
}

@media only print {
  pre code {
    max-height: none !important;
    overflow-x: hidden !important;
    white-space: pre-line;
  }
  .left, .right, .page-header, .footer {
    display: none;
  }
}
