/* ----- FONTS ----- */
@font-face {
  font-family: 'PorSiempreGotica';
  src: url('/static/fonts/PorSiempreGotica.ttf') format('truetype');
}

@font-face {
  font-family: 'PirataOne';
  src: url('/static/fonts/PirataOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  src: url('/static/fonts/FiraSans/FiraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// @import url('/static/fonts/https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: 'InconsolataNF';
  src: url('/static/fonts/InconsolataNF/InconsolataNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Barlow */
@font-face {
  font-family: 'Barlow';
  src: url('/static/fonts/Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/static/fonts/Barlow/Barlow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* BarlowCondensed */
@font-face {
  font-family: 'BarlowCondensed';
  src: url('/static/fonts/Barlow/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('/static/fonts/Barlow/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


/* Barlow */
@font-face {
  font-family: 'Barlow';
  src: url('/static/fonts/Barlow/Barlow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/static/fonts/Barlow/Barlow-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* BarlowCondensed */
@font-face {
  font-family: 'BarlowCondensed';
  src: url('/static/fonts/Barlow/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed';
  src: url('/static/fonts/Barlow/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* BarlowNF*/
@font-face {
  font-family: 'BarlowNF';
  src: url('/static/fonts/BarlowNF/BarlowNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowNF';
  src: url('/static/fonts/BarlowNF/BarlowNerdFont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'JetBrainsMonoNF';
  src: url('/static/fonts/JetBrainsMonoNF/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
